name: CI-Ubuntu

on: [pull_request]

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php:
          - 8.2
          - 8.3
    steps:
      - uses: actions/checkout@v2
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y network-manager libnss3-tools jq xsel
          composer install --no-interaction --prefer-dist
      - name: Test
        run: vendor/bin/phpunit
  cs_fixer:
    name: CS Fixer
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php:
          - 8.3
    steps:
      - uses: actions/checkout@v2
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y network-manager libnss3-tools jq xsel
          composer install --no-interaction --prefer-dist
      - name: CS Fixer
        run: vendor/bin/php-cs-fixer check --config=.php-cs-fixer.dist.php
